@font-face {
	font-family: "Inter";
	src: url("/static/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

body {
	font-family: Inter, sans-serif;
	margin: 30px 0 0 0;
	padding: 0;
}

.login-info {
	max-width: 240px;
	position: absolute;
	top: 20px;
	right: 25px;
	text-align: right;
}

.container {
	width: 60%;
	margin: 0 auto;
}

.header-outer {
	display: flex;
	justify-content: center;
}

.header {
	display: flex;
	justify-content: center;
	color: #2c2c2c;
	text-align: left;
	padding: 20px 0;
}

.header h1 {
	margin: 20px 0 20px 30px;
	zoom: 1.2;
	text-align: left;
	line-height: 1;
}

.header h1 span:nth-child(1) {
	color: #db665d;
}
.header h1 span:nth-child(2) {
	padding-left: 10px;
}
.header h1 span:nth-child(3) {
	padding-left: 20px;
}

.content {
	padding: 20px;
	font-size: 1.15em;
	line-height: 1.4;
}

.highlight {
	position: relative;
	/* font-weight: 700; */
}

.highlight::before {
	/* Highlight color */
	background-color: #fc636b80;
	content: "";
	position: absolute;
	width: calc(100% + 4px);
	height: 60%;
	left: -2px;
	top: 5px;
	bottom: 0;
	z-index: -1;
	transform: rotate(-1deg);
}

a {
	text-decoration: none;
}

.button,
button {
	background: #2c2c2c;
	border-radius: 999px;
	box-shadow: #2c2c2c 0 10px 20px -10px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 700;
	line-height: 24px;
	opacity: 1;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
}

.button-warning {
	background-color: #ffb900;
	color: #000000;
}

.button-danger {
	background-color: #fc636b;
	color: #000000;
}

a span {
	font-size: 1.2em;
}

.showcase {
	margin: 40px auto;
	border-radius: 20px;
	object-fit: cover;
	height: 256px;
}

.headline {
	top: 0;
	position: absolute;
	width: 100%;
	background-color: #353839;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 2px;
}

.headline a {
	text-decoration: none;
	color: aliceblue;
	cursor: pointer;
}
