<!DOCTYPE html>
<html>

<head>
	<title>Asana Number Nerd</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/project-checkbox-styles.css">
	<link rel="stylesheet" href="/static/css/workspace-accordion-styles.css">
</head>

<body>

	{# black feedback & github line #}
	<div class="headline">
		<span><a href="https://github.com/marfrede/asana-number-nerd" target="_blank">View Source Code @ GitHub</a></span>
		<span>send feedback: <a href="mailto:marvinfrede@gmx.de">marvinfrede@gmx.de</a></span>
	</div>

	{# buy me a coffee button #}
	<div class="buy-me-a-coffee">
		<img alt="" width="100px" src="/static/assets/me.png">
		<a href="https://www.buymeacoffee.com/marvinfrede"> <img
				src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=marvinfrede&button_colour=416039&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" /></a>
	</div>

	{# content #}
	<p class="login-info">Logged in with Asana as {{asana_user.email}}</p>
	<div class="container">

		<a class="header" href="/">
			<img src="/static/assets/appicon.png" alt="" srcset="" width="200px">
			<h1><span>Asana<br></span><span>Number<br></span><span>Nerd</span></h1>
		</a>

		<div class="content">
			<h1>Select projects</h1>
			<p>Pick the Asana projects where you want Asana Number Nerd to add numbers to each new task</p>

			<form action="choose-projects" method="post" name="projects_form" onsubmit="return validateForm()">
				<div class="row">
					<div class="col">
						<div class="tabs">
							{% for ws in workspaces %}
							<div style="margin-bottom: 20px;">
								<div class="tab">
									<input class="accordion-input" type="checkbox" id="{{ws['gid']}}">
									<label class="tab-label" for="{{ws['gid']}}">{{ws['name']}}</label>
									<div class="tab-content">
										{% for p in ws["projects"] %}
										<div class="input-group">
											<input class="project-input" id="{{p}}" name="{{p}}" type="checkbox" />
											<label class="project-label" for="{{p}}">{{p['name']}}</label>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="content" style="text-align: center;">
					<button type="submit">Next</button>
				</div>
			</form>
		</div>
	</div>
	<script src="/static/js/form.js"></script>
</body>

</html>