<!DOCTYPE html>
<html>

<head>
	<title>Asana Number Nerd</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
	<p class="login-info">Logged in with Asana as {{asana_user.email}}</p>
	<div class="container">

		<a class="header" href="/">
			<img src="/static/assets/appicon.png" alt="" srcset="" width="200px">
			<h1><span>Asana<br></span><span>Number<br></span><span>Nerd</span></h1>
		</a>

		<div class="content">
			<h1>Overview</h1>

			<p>A number will be assigned everytime a new task is created inside any of these projects:</p>
			<ul>
				{% for project in projects %}
				<li>{{project["name"]}}</li>
				{% endfor %}
			</ul>
			<br>
			<p>The number will be set<span class="highlight"> as prefix </span>of the tasks name.</p>
			<p>The prefix will be<span class="highlight"> '#xxx ', </span>a hashtag followed by a three-digit number</p>
			<p>The number will added whenever a task<span class="highlight"> is added </span> to any of the given projects.
			</p>
			<p>e.g.: #025 make coffee, #001 do the laundry, #4269 fight the endboss</p>
			<p>For example when you create a new task with the title 'make coffee' inside the project
				'{{projects[0]['name']}}' then a short time later it is renamed #001 make coffee. (or #002 make coffee, or #003
				make coffee or...)</p>

			<div class="content" style="text-align: center;">
				<form action="create-webhooks" method="post">
					<button>Confirm and start numbering</button>
				</form>
			</div>

		</div>
	</div>
	<script src="/static/js/form.js"></script>
</body>

</html>