<!DOCTYPE html>
<html>

<head>
	<title>Asana Number Nerd</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css-v0.1/styles.css">
	<link rel="stylesheet" href="/static/css-v0.1/project-button-styles.css">
	<link rel="stylesheet" href="/static/css-v0.1/workspace-accordion-styles.css">
</head>

<body>

	{# black feedback & github line #}
	<div class="headline">
		<span><a href="https://github.com/marfrede/asana-number-nerd" target="_blank">View Source Code @ GitHub</a></span>
		<span>send feedback: <a href="mailto:marvinfrede@gmx.de">marvinfrede@gmx.de</a></span>
	</div>

	{# buy me a coffee button #}
	<div class="buy-me-a-coffee">
		<img alt="" width="100px" src="/static/assets/me.png">
		<a href="https://www.buymeacoffee.com/marvinfrede"> <img
				src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=marvinfrede&button_colour=416039&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" /></a>
	</div>

	{# content #}
	<div class="container">
		<div class="header-outer">
			<a href="/" class="header">
				<img src="/static/assets/appicon.png" alt="" srcset="" width="200px">
				<h1><span>Asana<br></span><span>Number<br></span><span>Nerd</span></h1>
			</a>
		</div>
		<div class="content">
			<h1>Home</h1>
			<p>Here you can see which projects are currently active and which not. You can make changes and add additional
				projects for task numbering or remove projects so that the numbering will stop.</p>


			<div class="row">
				<div class="col">
					<div class="tabs" style="width: 750px;">
						{% for ws in workspaces %}
						<div style="margin-bottom: 20px;">
							<div class="tab">
								<input class="accordion-input" type="checkbox" id="{{ws['gid']}}">
								<label class="tab-label" for="{{ws['gid']}}">{{ws['name']}}</label>
								<div class="tab-content">
									{% for p in ws["projects"] %}
									<div class="input-group" style="max-width: 720px;">
										<label class="project-label" for="{{p}}">{{p['name']}}</label>
										{% if p["status"]=="active" %}
										<form action="pause-numbering/{{p['gid']}}" method="post">
											<button class="button-danger">Pause Numbering</button>
										</form>
										{% elif p["status"]=="inactive" %}
										<form action="reactivate-numbering/{{p['gid']}}" method="post">
											<button class="button-warning">Reactivate Numbering</button>
										</form>
										{% else %}
										<form action="start-numbering/{{p}}" method="post">
											<button>Start Numbering</button>
										</form>
										{% endif %}
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>


			<p>A number will be assigned everytime a new task is created inside the chosen projects.</p>
			<br>
			<p>The number will be set<span class="highlight"> as prefix </span>of the tasks name.</p>
			<p>The prefix will be<span class="highlight"> '#xxx ', </span>a hashtag followed by a three-digit number</p>
			<p>The number will added whenever a task<span class="highlight"> is added </span> to any of the given projects.
			</p>
			<p>e.g.: #025 make coffee, #001 do the laundry, #4200 fight the endboss</p>
			<p>For example when you create a new task with the title 'make coffee' then a short time later it is renamed #001
				make coffee. (or #002 make coffee, or #003
				make coffee or...)</p>
			<p>ℹ️ It may take up to a minute until a number is added.</p>
			<p>ℹ️ If no number is added, it is best to remove the task from the project and add it again.</p>

		</div>
	</div>
</body>

</html>