<!DOCTYPE html>
<html>

<head>
	<title>Asana Number Nerd</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/project-checkbox-styles.css">
	<link rel="stylesheet" href="/static/css/workspace-accordion-styles.css">
</head>

<body>
	<div class="container">

		<div class="header">
			<img src="/static/assets/appicon.png" alt="" srcset="" width="200px">
			<h1><span>Asana<br></span><span>Number<br></span><span>Nerd</span></h1>
		</div>

		<div class="content">
			<p><strong>Asana Number Nerd</strong> has just one simple task: to <span class="highlight">number your Asana
					tasks</span>.</p>
			<small>Logged in as {{asana_user.email}}</small>
			<p>Select the projects in which the task numbering is to be activated.</p>

			<form action="projects" method="post">
				<div class="row">
					<div class="col">
						<div class="tabs">
							{% for ws in workspaces %}
							<div style="margin-bottom: 20px;">
								<div class="tab">
									<input class="accordion-input" type="checkbox" id="{{ws['gid']}}">
									<label class="tab-label" for="{{ws['gid']}}">{{ws['name']}}</label>
									<div class="tab-content">
										{% for p in ws["projects"] %}
										<div class="input-group">
											<input class="project-input" id="{{p['gid']}}" name="{{p['gid']}}" type="checkbox" />
											<label class="project-label" for="{{p['gid']}}">{{p['name']}}</label>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="content" style="text-align: center;">
					<button type="submit">Next</button>
				</div>
			</form>
		</div>

	</div>
</body>

</html>