<!DOCTYPE html>
<html>

<head>
	<title>Asana Number Nerd</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
	<div class="container">
		<div class="header">
			<img src="/static/assets/appicon.png" alt="" srcset="" width="200px">
			<h1><span>Asana<br></span><span>Number<br></span><span>Nerd</span></h1>
		</div>
		<div class="content">
			<p><strong>Asana Number Nerd</strong> has just one simple task: to <span class="highlight">number your Asana
					tasks</span>.</p>
			<p>Logged in as {{asana_user.email}}</p>
			{% for ws in workspaces %}
			{{ws["name"]}}
			{% endfor %}
		</div>
	</div>
</body>

</html>