<!DOCTYPE html>
<html>

<head>
	<title>Asana Number Nerd</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
	<div class="container">
		<div class="header-outer">
			<a href="/" class="header">
				<img src="/static/assets/appicon.png" alt="" srcset="" width="200px">
				<h1><span>Asana<br></span><span>Number<br></span><span>Nerd</span></h1>
			</a>
		</div>
		<div class="content">
			<h1>Welcome!</h1>
			<p><strong>Asana Number Nerd</strong> has just one simple task: to <span class="highlight">number your Asana
					tasks</span>.</p>
			<p>It is designed to assign <span class="highlight">unique task numbers</span> to tasks created in Asana, counting
				from 1.</p>
			<p>This could be useful for:</p>
			<ul>
				<li>users that are <span class="highlight">managing a large number of tasks</span> and need a clear way to keep
					track of them.</li>
				<li>users that <span class="highlight">report or share their tasks with others</span> and need to reference them
					by a specific number.</li>
				<li>developers that want to <span class="highlight">reference the task numbers in branch names</span>.</li>
			</ul>
			<p>This app is focused on making the task management process <span class="highlight">more organized and
					efficient</span> for Asana users.</p>
			<p>The Task Number will be assigned as Prefix of the Tasks name., e.g. "make coffee" -> "#025 make coffee" </p>
			<small>In order for Asana Number Nerd to work for your project it must be authorized. After that you can select
				your workspace and project(s) for which tasks should be numbered.</small>
			<div class="content" style="text-align: center;">
				<a class="button" href="{{ authorize_asana_url }}">Log In with Asana</a>
			</div>
			<div class="content" style="text-align: center;">
				<img class="showcase" src="/static/assets/showcase.gif" width="880px" alt="">
			</div>
		</div>
	</div>
</body>

</html>